@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* Mejora de legibilidad en los eventos del calendario */
.fc-event {
  border-width: 2px !important; /* Borde más grueso para definir el color */
  padding: 2px 4px !important;
  font-weight: 600 !important;
  font-size: 0.7rem !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Sombra para dar profundidad */
}

/* Hacer que los días del mes actual resalten más */
.fc-daygrid-day.fc-day-today {
  background-color: rgba(59, 130, 246, 0.1) !important; /* Azul muy sutil */
}

.fc-daygrid-event-dot {
  border-color: currentColor !important;
}